<!-- ####By location map#### -->



	<div id="map-container">
  <div id="map-canvas"></div>
</div>


<div id="map">

</div>

<div id="homeless_marker">
		
		<%= link_to(:homeless, new_homeless_path, :type=>:submit) %>
</div>