

	
	<h1> Welcome <%= @user.fname %> !</h1> 




<%= link_to(:Mapper, "/mapper", :type=>:submit) %>


<%= link_to(:Donate, "/donate", :type=>:submit) %>








<h3> Welcome to StreetSweep! The first web application to actively help the homeless on the streets of NYC. By clicking on the mapper button, you can go to a google maps page. When you see someone homeless you drop a pin which submits your location. Here you can create a mini profile on the person, which displays the location of the person, a quick picture if they allow it and the option to submit a list of items they could benifit from. If you notice they are missing shoes, for example, you add it and it create a running list. This helps those in the area who have items to give locate that homeless man or woman and give them water, food, blankets, etc. If you like this application, you can click the donate button which will help us expand our application as well as buy materials to help the homeless as well. We appreacite you visiting our site.
	<br>
	Sincerely,
				<br>	-The StreetSweep Team. </h3>